.faq-container {
  color: #ffffff;
  padding: 20px;
}

.faq-header {
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background-color: #131313;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.faq-item.open {
  background-color: #631199;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.faq-item:hover {
  background-color: #631199;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.faq-question {
  font-weight: 600;
  font-size: 20px;
}

.faq-answer {
  display: none;
  margin-top: 10px;
}

.faq-item.open .faq-answer {
  display: block;
}
