/* EventList.css */
.event-list-org1 {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items */
  justify-content: flex-start; /* Align items to the left */
}
.event-list-org1 h1 {
  font-weight: 600;
  font-size: 45px;
}
.event-card {
  color: rgb(255, 255, 255) !important;
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each item */
  transition: transform 0.2s, box-shadow 0.2s; /* Add transitions for scale and box-shadow */
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  border: none; /* Remove default border */
  background-color: rgb(30, 30, 30) !important;
}

.event-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
  box-shadow: 7px 8px 10px rgb(230, 228, 231); /* Add a box shadow on hover */
}

.event-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
}

.event-details {
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s; /* Add transitions for opacity and transform */
}

.event-card:hover .event-details {
  opacity: 1; /* Make the text fully visible on hover */
  transform: translate(0, -5px); /* Slightly move the text up on hover */
}

/* Rest of your styles */
