.analytics-container {
  overflow-y: visible;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Ana-head {
  font-weight: 600;
  font-size: 40px;
  margin-left: 20px;
  color: blueviolet;
}

.chart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden; /* Prevents content overflow */
}

.chart {
  width: calc(45% - 20px); /* Adjust the width as needed with margin */
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 300px; /* Set a minimum height to accommodate the content */
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .chart-row {
    flex-direction: column; /* Stack charts vertically on smaller screens */
    align-items: center;
  }

  .chart {
    width: 100%;
  }
}
@media (max-width: 525px) {
  .chart {
    width: 100%;
  }
  .bar-resp {
    width: 300px;
  }
}
