.about-us-container {
  padding: 40px;
  text-align: center;
}

.about-us-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a0a0a; /* Dark gray text color */
}

.about-us-content {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Align text to the left */
  color: #000000; /* Slightly darker gray text color */
}

.divider {
  border: 4px solid #000000; /* Gray line between paragraphs */
  margin: 20px 0;
}

/* Styling for emojis */
.about-us-content p::before {
  content: "";
  font-size: 24px;
  margin-right: 10px;
}

/* Styling for headers */
.about-us-header {
  color: #050505; /* Dark gray text color */
  font-size: 36px;
  margin-bottom: 20px;
}

/* Styling for the entire page */
.about-us-container {
  background-color: #fefdfd; /* Light gray background color */
}

/* Add more styling as needed */
